body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  background-color: deeppink;
  border-radius: 0.3em;
  padding: 0 0.9em;
  left: 25%;
  right: 25%;
  font-weight: bolder;
  font-size: large;
  position: absolute;
  bottom: -40px;
  width: 48%;
  z-index: 0;
  text-align: center;
}

section {
  position: relative;
  z-index: 1;
  margin-top: 10%;
}

article {
  padding: 2.5em 0.9em 0 0.9em;
  margin: 0 5%;
  text-align: justify;
  border: 0.1em solid #ccc;
  border-radius: 0.3em;
  background-color: white;
  position: absolute;
  z-index: 1;
}

@media (min-width: 600px){
  header:hover {
    cursor: pointer;
    z-index: 2;
  } 
}

header:active {
  z-index: 2;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}